<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Css Link Below -->
    <link rel="stylesheet" href="css/main.css">
    <!-- Goggle Font Below -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <!-- Favicon Below-->
    <link rel="shortcut icon" href="./assets/logo.ico" type="image/x-icon">
    <!-- favicon ends here-->
    <!-- icon here-->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <!-- icon end here-->
    <title>Hiral's Portfolio</title>
</head>

<body>
    <!--header-->
    <header>
        <a href="#" class="logo"><img src="image/logo.svg" alt="logo"></a>
        <div class="bx-menu" id="menu-icons"></div>

        <ul class="navlist">
            <li><a href="#home">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#MyWork">My Work</a></li>
            <li><a href="#contact">Contact Me</a>
            </li>
        </ul>
        <a href="" class="view_button">View Resume</a>
    </header>
    <!-- home section-->
    <section class="home" id="home">
        <div class="home-img">
            <img class="heroimg" src="image/mainimg.jpg" alt="mainimg">
        </div>
        <div class="home-text">
            <h3 class="text1">Hey, I'M</h3>
            <h2 class="text2">Hiral Shah</h2>
            <h3>A Media Desinger <span>From London, Ontario</span></h3>
            <p>
                I am the media designer and developer. My passion is bringing ideas,visions and concepts to life through a strategic approach of web design based on user experience.This is just a small sample of what I would love to do in the coming years with my career
                as a media designer and developer.
            </p>
            <div class="social">
                <a class="icon" href="https://www.linkedin.com">
                    <ion-icon name="logo-linkedin"></ion-icon>
                </a>
                <a class="icon" href="https://github.com/hiralshah7">
                    <ion-icon name="logo-github"></ion-icon>
                </a>
                <a class="icon" href="https://www.behance.net/hiralshah18">
                    <ion-icon name="logo-behance"></ion-icon>
                </a>
            </div>
            <a href="#about" class="btn">About Me</a>
        </div>

    </section>
    <!-- roles area -->
    <section class="sub-service">
        <div class="heading">
            <h3>Basic Responsiblities</h3>
            <h2>As Media Designer</h2>
            <p>Below you can see the fundamentals <br> being a Media Designer.</p>
        </div>
        <!-- number-1 -->
        <div class="items">
            <div class="sub-box">
                <div class="sub-image">
                    <img class="coder" src="image/coder.svg" alt="coder">
                </div>
                <h3>Web Development</h3>
                <p> Responsible for coding and modifying websites, from layout to function and according to a client's specifications. Strive to create visually appealing sites that feature user-friendly design and clear navigation.</p>
            </div>
            <!-- number-2 -->
            <div class="sub-box">
                <div class="sub-img">
                    <img class="desinger" src="image/desinger.svg" alt="designer">
                </div>
                <h3>Designing</h3>
                <p>Responsible for improving the user experience of a given product. Creating prototypes as per client's requirement. Additionally, Also working On and creating style guides.</p>
            </div>
            <!-- number-3-->
            <div class="sub-box">
                <div class="sub-img">
                    <img class="overall" src="image/overall.svg" alt="overall">
                </div>
                <h3>Overall</h3>
                <p>Responsible for the look and feel of a project, as well as its overall functionality. Working closely with a team of designers and developers to create a cohesive product that meets the needs of the client.</p>
            </div>
        </div>
    </section>
    <!-- about page-->
    <section class="about" id="about">
        <div class="aboutimg">
            <img class="about2" src="image/about.jpg" alt="about">
        </div>
        <div class="about-text">
            <h3>I'm Currently Student and Media Designer</h3>
            <p>
                Yes, I'm a Media Designer and I am still focusing on areas by which I can give Great User-Experience to my clients. I'll be Graduated From Fanshawe College with Interactive Media Design Program. As a Career Perspective, I want to Push Myself as a Front-End
                Developer.
            </p>
        </div>
    </section>
    <!-- Inspiration-->
    <section class="services" id="services">
        <div class="heading">
            <h3>Inspirations that might Inspire You</h3>
            <h2>Inspirations</h2>
            <p>Design with Style and Smile</p>
        </div>
        <div class="service-content">
            <div class="row">
                <h3>User-Interface</h3>
                <h5><a href="https://www.behance.net/made_nasti">Click to Connect</a></h5>
                <p>Check this Profile and Get some really great Ideas Regarding UI/UX Designing.</p>
            </div>
            <div class="row">
                <h3>Web Applications</h3>
                <h5><a href="https://www.behance.net/keylinecreative">Click to Connect</a></h5>
                <p>Check this Profile and Get some really great Ideas Regarding Web Application Designs. </p>
            </div>
            <div class="row">
                <h3>Web Animations</h3>
                <h5><a href="https://36days-21.reflektor.digital/">Click to Connect</a></h5>
                <p>Check This Website, and Get Some great Ideas Regarding Animations.</p>
            </div>
            <div class="row">
                <h3>Portfolio</h3>
                <h5><a href="https://estudionk.com/">Click to Connect</a></h5>
                <p>Check This Portfolio Piece, and Get Some Great Inspiration to create your Portfolio.</p>
            </div>
        </div>
    </section>
    <!-- portfolio-->
    <section class="portfolio" id="portfolio">
        <div class="heading">
            <h3>Portfolio</h3>
            <h2>My Amazing Work</h2>
            <p>Click On Any of the Portfolio Piece and Get Detail Info About it.</p>
        </div>
        <div class="portfolio-content">
            <div class="col">
            </div>
        </div>
    </section>
    <!-- portfolio ends here-->


    <main id="app">
        <article class="main">
            <nav id="car-nav">
                <!-- adding component binding here -->
                <ul class="projects">
                    <herothumbnail @loadlb="loadLightBox" v-for="hero in heroData" :hero="hero">
                    </herothumbnail>
                </ul>
                <div class="projects2">
                    <!-- light box component goes below-->
                    <Lightbox @closelb="this.showLightBox = false" v-if="showLightBox" :hero=" LightboxData">
                    </Lightbox>
                </div>
            </nav>
        </article>
    </main>
    <!-- end here-->
    <!-- extra portfolio piece  -->
    <section class="contact" id="contact">
        <div class="container">
            <div class="center">
                <h3>Let's talk about everything</h3>
            </div>
            <div class="action">
                <form action="action.php">
                    <!-- <label for="fname">First Name</label> -->
                    <input type="text" id="fname" name="firstname" placeholder="Your name">
                    <input type="email" name="email" placeholder="Enter Your email" required>
                    <textarea id="subject" name="subject" placeholder="Write something.." style="height:100px"></textarea><br>
                    <input type="submit" name="submit" value="Submit">
                </form>
            </div>
        </div>
    </section>
    <!-- end of the html body-->
    <!-- footer-->
    <div class="ends">
        <p>Made with Love by Hiral Shah </p>
    </div>
    <!-- link to js-->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/main.js" type="module"></script>

    <!-- ion iocns-->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>